<h1>Prayer List (<%= @partners.count %> partners)</h1>

<% @partners.each do |partner| %>
  <%= form_with model: partner, class: ("prayed" if partner.prayed) do |form| %>
    <%= partner.name %>
    <%= "(prayed)" if partner.prayed %>
    <%= form.submit %>
  <% end %>
<% end %>
